<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936071680500-5a0f1cc09larsjfgo72jp9n64vg89mdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936071680500-5a0f1cc09larsjfgo72jp9n64vg89mdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936071680500-7g3ja2qdpbvkb143jh34nmbe3slu6ej9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIcVotnvqG6M7VDK1f0SZARZx1Bc3j2HM</string>
	<key>GCM_SENDER_ID</key>
	<string>936071680500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizzbrains.elearning</string>
	<key>PROJECT_ID</key>
	<string>e-learningapp-2e177</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learningapp-2e177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936071680500:ios:2b7a109332c2e44aba29a1</string>
	<key>DATABASE_URL</key>
	<string>https://e-learningapp-2e177.firebaseio.com</string>
</dict>
</plist>